<h1 i18n>Localization Demo in Angular using i18n</h1>
<h3 i18n="@@myName">Hello, My name is Ankit</h3>
<p>This text will remain same in all languages</p>
<hr />
<p>{{ path }}</p>
<ng-container *ngFor="let language of languageList">
  <a href="/{{ language.code }}/">
    <button class="button">{{ language.label }}</button>
  </a>
</ng-container>

<ul style="display: flex; list-style: none;">
  <li style="padding: 0 1rem;">
    <a [routerLink]="['']">Landing</a>
  </li>
  <li style="padding: 0 1rem;">
    <a [routerLink]="['', 'calendar']">Calendar</a>
  </li>
  <li style="padding: 0 1rem;">
    <a [routerLink]="['', 'profile']">Profile</a>
  </li>
  <li style="padding: 0 1rem;">
    <a [routerLink]="['', 'computer']">Computer</a>
  </li>
</ul>
<router-outlet></router-outlet>
