<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Root Hit Redirect" stopProcessing="true">
                    <match url="^$" />
                    <action type="Redirect" url="en/index.html" />
                </rule>
                <rule name="Angular Routes EN" stopProcessing="true">
                    <match url="en/.*" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/en/index.html" />
                </rule>
                <rule name="Angular Routes ES" stopProcessing="true">
                    <match url="es/.*" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/es/index.html" />
                </rule>
                <rule name="Angular Routes HI" stopProcessing="true">
                    <match url="hi/.*" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/hi/index.html" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
